.vue-modal {
  * {
    font-size: 14px;
  }
  position: fixed;
  background-color: #ccccccd4;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  &-wrapper {
    position: absolute;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    background-color: #fff;
    padding: 16px 14px;
    display: flex;
    flex-direction: column;
    // transform: translateY(-50%);
    animation: show-modal 0.1s linear forwards;
    z-index: 999;
  }
  &-header {
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
  }
  &-body {
    flex: 1;
    padding: 12px 0px;
    font-size: 16px;
  }
  &-footer {
    text-align: right;
    button {
      background-color: #17a2b8;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding: 6px 18px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

@keyframes show-modal {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 150px;
  }
}
