<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <title>Document</title>
</head>

<body>
    <div id="main" class="flex flex-col gap-20">
        <h1>Add New Facebook Pixel</h1>
        <div class="separate"></div>
        <div class="choose--pixel flex">
            <label class="button--radio" :class="currentTab == 1?'active':''" for="auto-input">
                <input type="radio" name="select--pixel" id="auto-input" value="1" v-model="currentTab" checked>
                Auto Input Pixel</label>

            <label class="button--radio" :class="currentTab == 2 ?'active':''" for="manual-input">
                <input type="radio" name="select--pixel" id="manual-input" value="2" v-model="currentTab">
                Manual Input Pixel</label>

        </div>



        <form @submit.prevent="submitForm()" class="form flex flex-col">
            <auto-input-tab v-if="currentTab == 1" :business-account-id.sync="businessAccountId"
                :pixel-account-id.sync="pixelAccountId">
            </auto-input-tab>
            <manual-input-tab v-else :pixel-name.sync="pixelName" :pixel-id.sync="pixelId"></manual-input-tab>

            <div class="form--field">
                <label>Target</label>
                <select name="select-target" v-model="target" id="select-target" required>
                    <option value="entire page">Entire Page</option>
                </select>
            </div>

            <div class="conversion-api">
                <div class="text">
                    <h1>Conversion API</h1>
                    <p>Facebook conversions API will help you collect accurate data and improve the performance of
                        your
                        Facebook ads in a post-iOS 14 update world. <a href="#">Learn more</a></p>
                </div>

                <label class="switch">
                    <div style="width:36px">
                        <input type="checkbox" name="conversion-api" v-model="conversion">
                        <span class="slider round"></span>
                    </div>

                </label>

            </div>
            <div class="notify-upgrade">
                <img src="./assets/images/bell-upgrade.png" alt="">
                <h2>Please <span>UPGRADE</span> your plan to use Conversion API</h2>
            </div>
            <div class="wrap-separate">
                <div class="separate separate--footer"></div>
            </div>
            <div class="form--button flex gap-20">
                <button @click.prevent='clearForm()' class="btn btn--cancel">Cancel</button>
                <button class="btn btn--save" type="submit">Save</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="module" src="main.js"></script>
</body>

</html>