.btn {
  outline: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  &.btn--primary {
    background-color: $button-background-primary;
    color: $text-button;
    &:hover {
      box-shadow: 0 0 3px #3e6dda;
    }
  }
  &.btn--secondary {
    color: $text-primary;
    background-color: $button-background-secondary;
    &:hover {
      box-shadow: 0 0 3px $button-background-secondary;
    }
  }
}
